<!DOCTYPE html>
<html>
<!--<head>
    <title>Matheus Fagundes</title>
    <!-- link to main stylesheet -->
   <!-- <link rel="stylesheet" type="text/css" href="/css/main.css">
</head> -->
<title>Matheus Fagundes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<body background-color: lightblue;>
<nav>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button"><b>Matheus Fagundes</b></a>
    	<!-- Float links to the right. Hide them on small screens -->
    	<div class="w3-right w3-hide-small">
      	    <a href="../projects/index.html" class="w3-bar-item w3-button">Projects</a>
	    <a href="/blog" class="w3-bar-item w3-button">Blog</a>
	    <a href="/cv" class="w3-bar-item w3-button">CV</a>
      	    <!-- <a href="/about" class="w3-bar-item w3-button">About</a> -->
      	    <a href="/contact" class="w3-bar-item w3-button">Contact</a>
	    <!--<a href="https://github.com/mf99274">My GitHub</a> -->
    	</div>
     </div>
	<div class="w3-container">
			
		{{ content }}
		
	</div> <!-- /container -->
</div>

</nav>
</body>
</html>

